* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #222;
}

body {
  background-color: aliceblue;
  padding: 0;
  margin: 0;
}

main {
  margin:  auto;
  max-width: 545px;
  margin-bottom: 25px;
  background-color: #fff5e6;
}

header > h1 {
  margin: auto;
  width: 500px;
  padding: 50px 0 25px;
}

p {
  margin: 10px 10px 0 0;
}

input[type=text] {
  width: 500px;
}

#full-name, #address-container {
  display: flex;
  flex-direction: column;
}

.address-child {
  display: flex;
  flex-direction: row;
}

#address-container:nth-child(1) input[type=text] {
  width: 241px;
}

#address-container:nth-child(2) input[type=text] {
  width: 155px;
}

#relocation {
  padding-bottom: 10px;
}

#output-buttons {
  display: flex;
  flex-direction: row;
}

report {
  background-color : #fff5e6;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 300px;
}

report > div {
  margin: 10px auto 0;
  padding: 10px 0 30px;
  width: 500px;
}